# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Assembly-CSharp.iml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\TopDownShooter\.idea\.idea.Assembly-CSharp.dir\.idea/dataSources/
/dataSources.local.xml
