# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.TopDownShooter.iml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\TopDownShooter\.idea\.idea.TopDownShooter\.idea/dataSources/
/dataSources.local.xml
